<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Epicodus Social</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="../Content/css/addmessagecss.css">
  </head>
  <body>
    <div class="page-header">
      <h1><a class="title-name" href="/@Model["profileId"].GetId()">Epicodex</a></h1>
    </div>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/newProfile">New Profile</a></li>
          <li><a href="/loginProfile/@Model["profileId"].GetId()">Sign In</a></li>
        </ul>
      </div>
    </nav>
    <div class="container message" id="message-body">
      <h2 class="message_text" id="page_title">Add A Message</h2><ln>
      <form action="/profile/@Model["profileId"].GetId()/done" method="post">
        <label for="message-title"  class="message_text">Title</label><br>
        <input id="message-title" name="message-title" type="text"><br>
        <label for="message-body"  class="message_text">Message</label><br>
        <input id="message-body" name="message-body" type="text"><br><br>

        <h5>Type of Message</h5>
        <select name="type-id">
          <option value="1" selected>Announcement</option>
          <option value="2" selected>Burning Question and Answer</option>
          <option value="3" selected>Off Topic</option>
          <option value="4" selected>Hobbies and Pets</option>
          <option value="5" selected>Class Resource</option>
          <option value="6" selected>Language Resource</option>
        </select>
        <br>
        <br>
        <br>
        <button type="submit" id="space">Add</button>
        <br>
        <br>
      </form>
    </div>
  </body>
</html>
