<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Epicodus Social</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href="/../Content/css/styles.css">
</head>
<body>
  <div class="page-header">
    <h1>Epicodex</h1>
  </div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/newProfile">New Profile</a></li>
        <li><a href="/loginProfile/@Model["profileId"].GetId()">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <table class="table table-striped">
          <tbody>
            <thead>
              <tr>
                <th>
                  <form action="/test" method="post">
                    <button type="submit"  class="btn-primary new_post"><a href="/addmessage/@Model["profileId"].GetId()">New Post</a></button>
                    <label for="band-select-name"></label>
                    <button type = "submit" class="btn-primary" style="float: right;">Filter Posts</button>
                    <select name="band-select-name" style="float: right;">
                      <option value="0" selected="selected">View All</option>
                      <option>Announcements</option>
                    </select>
                  </form>
                </th>
              </tr>
            </thead>
            <tr>
              <td>
                <h4>Category</h4>
                <h3>Title of Post</h3>
                <p>
                  Post Author
                </p>
                <table>
                  <tr>
                    <td>

                    </td>
                    <td>
                      <p>
                        Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. There’s no need to add a class to buttons as they use a pseudo-class. However, you can still force the same active appearance with .active (and include the aria-pressed="true" attribute) should you need to replicate the state programmatically.
                      </p>
                    </td>
                    <td>
                      <form action="/test" method="post">
                        <button type="submit">Add Comment</button>
                      </form>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <form action="/test" method="post">
                        <button type="submit">+</button>
                      </form>
                      <p>
                        5 Likes
                      </p>
                    </td>
                    <td>

                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Comment Author</footer>
                      </blockquote>
                    </td>
                    <td>

                    </td>
                  </tr>
                </table>


              </td>
            </tr>
            <tr>
              <td>
                <h1>Row</h1>
              </td>
            </tr>
            <tr>
              <td>
                <h1>Row</h1>
              </td>
            </tr>
            <tr>
              <td>
                <h1>Row</h1>
              </td>
            </tr>
            <tr>
              <td>
                <h1>Row</h1>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="row-height">


            <h1><div class="btn-group  btn-group-justified" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="checkbox" checked autocomplete="off"> Match
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"> Resources
              </label>
            </div></h1>
          </div>
        </div>
        <div class="row">
          <div class="row-height">

            <form action="/match/type" method="post">
              <button type = "submit" class="btn-primary" style="float: right;">Suggest Pair</button>
              <select name="band-select-name" style="float: right;">
                <option value=0>Myers-Briggs</option>
                <option value=1>Hobbies</option>
                <option value=2>Experience</option>
              </select>
            </form>

            <h3>Perfect Matches</h3>
            <ul>
              @foreach(var p in @Model["P"]){
                <li>@p.name</li>
              }
            </ul>

            <h3>Good Matches</h3>
            <ul>
              @foreach(var p in @Model["G"]){
                <li>@p.name</li>
              }
            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
