
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Epicodus Social</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href="/Content/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Create a new Epicodex Profile</h1>
    <form id="profile" action="/create" method="post">
      <div class="container">
        <div id="blanks">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="text" name="email">
          </div>
          <div class="form-group">
            <label for="github">Github profile name</label>
            <input id="github" class="form-control" type="text"  name="github">
          </div>
          <div class="form-group">
            <label for="Linkedin">LinkedIn profile name</label>
            <input id="Linkedin" class="form-control" type="text"  name="linkedin">
          </div>

          <div class="form-group">
            <label for="home">Hometown</label>
            <input id="home" class="form-control" type="text"  name="home">
          </div>
          <div class="form-group">
            <label for="enrollment">Which class are you currently enrolled in:</label>
            <select id="enrollment"  name="enrollment">
              <option></option>
              <option value=1>Intro to programming</option>
              <option value=2>C#</option>
              <option value=3>Ruby</option>
            </select>
          </div>
          <h1>Interests</h1>
          <h2>Answer these questions to view a class pair suggestion</h2>


          <div class="form-group">
            <label for="mb">Enter your 4 Meyers-Briggs Personality Types:</label>
            <select id="ei"  name="ei">
              <option></option>
              <option value= true>Extraversion</option>
              <option value= false>Introversion</option>
            </select>
            <select id="ns"  name="ns">
              <option></option>
              <option value= true>Sensing</option>
              <option value= false>Intuition</option>
            </select>
            <select id="tf"  name="tf">
              <option></option>
              <option value= true>Thinking</option>
              <option value= false>Feeling</option>
            </select>
            <select id="pj"  name="pj">
              <option></option>
              <option value= true>Judging</option>
              <option value= false>Perceiving</option>
            </select>
          </div>
          <div class="form-group">
            <label for="style">What's your preferred learning style:</label>
            <select id="style"  name="style">
              <option></option>
              <option value=1>Audio</option>
              <option value=2>Visual</option>
            </select>
          </div>
          <div class="form-group">
            <label for="experience">How would you describe your programming experience level?</label>
            <select id="experience"  name="experience">
              <option></option>
              <option value=1 >Beginner</option>
              <option value=2>Intermediate</option>
              <option value=3>Advanced</option>
            </select>
          </div>
          <div class="form-group">
            <label for="games">Favorite type of games:</label>
            <select id="games"  name="games">
              <option></option>
              <option value=1>Tabletop</option>
              <option value=2>Video</option>
              <option value=3>Playing Card</option>
              <option value=4>Mobile</option>
            </select>
            <label for="movies">Favorite type of movie genre:</label>
            <select id="movies"  name="movies">
              <option></option>
              <option value=1>Action</option>
              <option value=2>Drama</option>
              <option value=3>Comedy</option>
              <option value=4>Documentary</option>
            </select>
            <label for="pet">Favorite type of pet:</label>
            <select id="pet"  name="pet">
              <option></option>
              <option value=1>Dog</option>
              <option value=2>Cat</option>
              <option value=3>Reptile</option>
              <option value=4>Rodent</option>
              <option value=5>Bird</option>
              <option value=6>Other</option>
            </select>
            </div>
          </div>
        </div>
      <button type="submit" class="btn">Make Profile</button>
    </form>
  </div>
</body>
</html>
