body {
  align-content: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

td {
  padding: 10px;
}

.to-left {
  text-align: left;
}
table { border-spacing: 2px;
  border-collapse: separate;;;

}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.btn-right {
  align: : right;
}

a {

  color: white;
}

a.title-name{

  color: black;
}

#name {
  margin-bottom: -15px;
}
